[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.0"
numpy = "==1.26.0"
scikit-learn = "==1.5.1"
scikit-image = "==0.24.0"
tensorflow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
